header {
    display: flex;
    align-items: center;

    padding: 10px;
    background: linear-gradient(-225deg, #fafa91 0%, #edd070 100%);
    min-width: 380px;
    padding: 20px;
}

header nav {
    display: flex;
    gap: 10px;
    color: black;
}


.active {
    color: white;
}