.home p {
    margin-block-start: 10px;
}

.add-book-link {
    display: block;
<<<<<<< HEAD
=======
    /* text-align: center; */
>>>>>>> 91c56d9f990f5cb32f7b684a602a6d6ef61aabe3
    width: fit-content;
    margin: 20px auto;
}

.add-book {
    cursor: pointer;
}

